.container {
    display: flex;
    flex-direction: column;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

div {
  text-align: center;
}

div img {
  width: auto;
  height: auto;
}
